body {
  display: flex;
  width: 100%;
  min-height: 100dvh;
  background-color: #f5f5f5;
}

.app-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-section {
  padding: 1.5rem;
  flex: 1;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.preview-section {
  width: 21cm;
  height: 29.7cm;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.8em;
  color: #333333;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.6em;
  color: #444444;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.4em;
  color: #555555;
  background: #ecf0fc;
  padding: 10px;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

h3:before {
  margin-right: 0.5rem;
  font-size: 1.2em;
}

label {
  font-weight: 500;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

textarea {
  resize: vertical;
  height: 80px;
}

button {
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  margin-right: 0.5rem;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button[type="button"] {
  background-color: #2196f3;
  color: white;
}

button[type="button"]:hover {
  background-color: #1e88e5;
}

button[type="button"].delete {
  background-color: #f44336;
}

button[type="button"].delete:hover {
  background-color: #e53935;
}

.preview-section h2 {
  font-size: 1.6em;
  color: #222;
}

.preview-section section {
  margin-bottom: 1.5rem;
}

.preview-section section p {
  margin: 0.5rem 0;
  line-height: 1.4;
}

.preview-section strong {
  font-weight: 600;
  color: #333;
}

.personalDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d2dcff;
  padding: 10px;
}

.fullName {
  font-size: 30px;
}

.contactDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.email:before {
  content: "📧";
  margin: 5px;
}

.phone:before {
  content: "📞";
  margin: 5px;
}

.address:before {
  content: "🏠";
  margin: 5px;
}